
  <!-- <div class="tc center bt b--black-10 pv5"> -->
  <div class="tc center pv5">

    <div class="cf pv3">
    <!-- <a class="link black-80 f5 ml3 pr2" href="{{ .Site.RSSLink | relURL }}" type="application/rss+xml" target="_blank"> -->
      <a class="f5 fw5 link br-pill hvr-shadow ba b--black-10 ph3 pv2 ma2 dib near-black" target="_blank" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" type="application/rss+xml">
<svg style="height: 1em;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 101 91" enable-background="new 0 0 101 101" xml:space="preserve"><g><path d="M16.929,30.115 M84.446,84.262c0-37.271-30.323-67.613-67.587-67.613l0,0l0.069,13.467   c29.777,0.039,53.995,24.256,54.051,54.042L84.446,84.262z"></path><path d="M16.843,53.089 M61.472,84.262c0-24.616-20.026-44.639-44.628-44.639l0,0v13.466c17.182,0,31.161,13.984,31.161,31.173   H61.472z"></path><circle cx="26.695" cy="74.305" r="9.812"></circle></g></svg>
    RSS feed</a>
      {{ range $.Site.Data.footer.urls }} 
      <!-- <div class="fl w-100 w-30-ns tc pa2"><a class="link black-80 f5 ml3 pa2 dib" href="{{ .href }}">{{ .name }}</a></div> -->
      <a class="f5 fw5 link br-pill hvr-shadow ba b--black-10 ph3 pv2 ma2 dib near-black" target="_blank" href="{{ .href }}"><i class="fab {{ .icon }}"></i> {{ .name }}</a>
      {{ end }}
    </div>

    <div class="tc p3 f6">
      <p>This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="{{ $.Site.Params.absurl }}" property="cc:attributionName" rel="cc:attributionURL">Kamil Slowikowski</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
      <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a></p>
    </div>

  </div>
  <div class="tc center pv6"></div>

</div>

</footer>

    <!-- <div class="w-100 bg-gradient" style="height:200px;"></div> -->
    <!-- <div class="w-100" style="height:200px;"></div> -->
    <!-- {{ partial "footer_highlightjs" . }} -->
    {{ partial "footer_mathjax" . }}
    {{ partial "google_analytics.html" . }}
    {{ partial "force_https.html" . }}
  </body>
</html>
