/* code {
  font-size: 80%;
} */
html { overflow-y: scroll; }
code {
  font-size: 90%;
}

.hline {
  position: absolute;
  left: 0%;
  width: 99.9%;
  border: 0;
  border-top: 1px solid rgb(0,0,0,.2);
}

/* Shadow */
.hvr-shadow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.shadow-6 {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

/*
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
.bg-gradient {
  /*background: linear-gradient(15deg,#ffeeea42 0,#e4f2ff54 100%) fixed;*/
  /*background: linear-gradient(15deg,#ffeeea42 0,#e4f2ff54 100%) fixed;*/
  /*background: linear-gradient(15deg,#ffffff00 0,#e4f2ff26 100%);*/
  background-image: linear-gradient(195deg, #c4dbfd73 0%, #ffe0e554 74%);
}
/*.lh-copy {
  font-size: 1rem;
}*/

.figure {
  box-shadow: 0px 0px 8px 0 rgba(0,0,0,.1);
}
.heading-anchor {
  float: left;
  margin-left: -2rem;
  width: 2rem;
  opacity: 0;
}
h1:hover .heading-anchor {
  transition: .2s opacity;
  opacity: 1;
}
h2:hover .heading-anchor {
  transition: .2s opacity;
  opacity: 1;
}
h3:hover .heading-anchor {
  transition: .2s opacity;
  opacity: 1;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  /* box-shadow: 0px 0px 8px 0 rgba(0,0,0,.1); */
}
/*
p img {
    display: block;
    margin-left: auto;
    max-width: 90%;
    margin-right: auto;
    box-shadow: 0px 0px 19px 0 rgba(0,0,0,.1);
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}*/
/*
pre code {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.125);
  margin-top: 0;
  margin-bottom: 1rem;
}
*/
:not(pre)>code {
  color: #333333;
  vertical-align: middle;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 1px 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,.125);
}
.highlight {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding-left: 1.2rem;
  /* border: 1px solid #d3d3d3; */
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  overflow: auto;
}
/* .highlight + .highlight { */
/* .language-fallback { */
/*   border: none; */
/*   padding-top: 0px; */
/*   color: rgba(0, 0, 0, 0.7); */
/* } */
.language-fallback {
  border: none;
  padding-top: 0px;
  color: rgba(0, 0, 0, 0.6);
}
.highlight + pre, pre + pre {
  color: rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.03);
  /* border-color: #00000026; */
  /* border-width: 0px 1px 1px 1px; */
  /* border-style: solid; */
  margin-top:0em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 89%;
  padding-left: 1.2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  overflow: auto;
}

.note-thumb {
  position: relative;
  max-height: 15rem;
  overflow: hidden;
}
/*.note-thumb-transition {
  transition: transform .2s ease-out;
}
.note-thumb-transition:hover {
  transform: translate(0, 0px) scale(0.98);
}*/

/*.moon {
    z-index: -1;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    box-shadow: inset 0px 0px #fff, inset -17px 4px 29px -13px rgba(254, 255, 255, 0.35);
    position: absolute;
    right: 16px;
    top: 16px;
}*/

kbd {
    display: inline-block;
    padding: 3px 5px;
    line-height: 1rem;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.shadow-4 {
    box-shadow: 0px 0px 120px 0 rgba(0, 0, 0, 0.02);
}
/*.lh-copy {*/
/*.lh-copy, p {
    line-height: 1.5;
    font-size: 1.2rem;
}*/

.br-02 {
  border-radius: 2%;
}

