/* code {
  font-size: 80%;
} */
html { overflow-y: scroll; }
code {
  font-size: 90%;
}

a {
  color: #0058c7;
}
li > a {
  word-break: break-all;
}

.hline {
  position: absolute;
  left: 0%;
  width: 99.9%;
  border: 0;
  border-top: 1px solid rgb(0,0,0,.2);
}

/* Shadow */
.hvr-shadow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.shadow-6 {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

/*
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

.bg-gradient {
  /*background: linear-gradient(15deg,#ffeeea42 0,#e4f2ff54 100%) fixed;*/
  /*background: linear-gradient(15deg,#ffeeea42 0,#e4f2ff54 100%) fixed;*/
  /*background: linear-gradient(15deg,#ffffff00 0,#e4f2ff26 100%);*/
  /* background-image: linear-gradient(195deg, #c4dbfd73 0%, #ffe0e554 74%); */
  background: linear-gradient(195deg, #c4dbfd73 0%, #e8e0ff54 74%);
  /* background: linear-gradient(352.12deg, rgba(186, 166, 255, 0.2) 0%, rgba(255, 201, 227, 0.1) 53%, rgba(201, 234, 255, 0.2) 100%); background-blend-mode: normal; */
}

.bg-gradient-rev {
  /*background: linear-gradient(15deg,#ffeeea42 0,#e4f2ff54 100%) fixed;*/
  /*background: linear-gradient(15deg,#ffeeea42 0,#e4f2ff54 100%) fixed;*/
  /*background: linear-gradient(15deg,#ffffff00 0,#e4f2ff26 100%);*/
  background-image: linear-gradient(-15deg, #c4dbfd73 0%, #ffe0e554 74%);
}
/*.lh-copy {
  font-size: 1rem;
}*/

/* /1* https://www.joshwcomeau.com/gradient-generator/ *1/ */
/* .bg-gradient { */
/*   background-image: linear-gradient( */
/*     5deg, */
/*     hsl(310deg 95% 92% / 28%) 0%, */
/*     hsl(304deg 95% 91% / 28%) 3%, */
/*     hsl(299deg 94% 91% / 28%) 6%, */
/*     hsl(293deg 94% 90% / 28%) 9%, */
/*     hsl(287deg 94% 90% / 28%) 12%, */
/*     hsl(282deg 93% 89% / 28%) 15%, */
/*     hsl(276deg 93% 89% / 28%) 19%, */
/*     hsl(270deg 93% 88% / 28%) 22%, */
/*     hsl(264deg 92% 88% / 28%) 25%, */
/*     hsl(259deg 92% 88% / 28%) 29%, */
/*     hsl(253deg 92% 87% / 28%) 33%, */
/*     hsl(247deg 92% 87% / 28%) 37%, */
/*     hsl(241deg 91% 86% / 28%) 42%, */
/*     hsl(236deg 91% 86% / 28%) 48%, */
/*     hsl(230deg 91% 85% / 28%) 55%, */
/*     hsl(224deg 91% 85% / 28%) 63%, */
/*     hsl(218deg 91% 84% / 28%) 73%, */
/*     hsl(213deg 91% 84% / 28%) 86%, */
/*     hsl(207deg 90% 84% / 28%) 100% */
/*   ); */
/* } */

.figure {
  box-shadow: 0px 0px 8px 0 rgba(0,0,0,.1);
}
.heading-anchor {
  float: left;
  margin-left: -2rem;
  width: 2rem;
  opacity: 0;
}
h1:hover .heading-anchor {
  transition: .2s opacity;
  opacity: 1;
}
h2:hover .heading-anchor {
  transition: .2s opacity;
  opacity: 1;
}
h3:hover .heading-anchor {
  transition: .2s opacity;
  opacity: 1;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  /* box-shadow: 0px 0px 8px 0 rgba(0,0,0,.1); */
}
/*
p img {
    display: block;
    margin-left: auto;
    max-width: 90%;
    margin-right: auto;
    box-shadow: 0px 0px 19px 0 rgba(0,0,0,.1);
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}*/
/*
pre code {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.125);
  margin-top: 0;
  margin-bottom: 1rem;
}
*/
.tableofcontents {
  /* box-shadow: 0px 2px 2px #d9d9d9; */
  /* background-color: white; */
  /* padding: 1em; */
}
:not(pre)>code {
  color: #333333;
  /* vertical-align: middle; */
  background: #f0f0f0;
  border-radius: 3px;
  padding: 1px 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,.125);
}
.highlight>pre {
  background-color: #f0f0f0 !important;
}
.highlight {
  background-color: #f0f0f0 !important;
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding-left: 1.2rem; */
  margin-left: calc(1em * -1);
  margin-right: calc(1em * -1);
  padding-left: 1em;
  /* border: 1px solid #d3d3d3; */
  /* border: 1px solid rgba(0,0,0,.2); */
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0px 1px 1px #d9d9d9;
  background-color: white;
}
.highlight + .highlight {
  margin-top: 1em;
}
/* .language-fallback { */
/*   border: none; */
/*   padding-top: 0px; */
/*   color: rgba(0, 0, 0, 0.7); */
/* } */
.language-fallback {
  border: none;
  padding-top: 0px;
  color: rgba(0, 0, 0, 0.6);
}
.highlight + pre, pre + pre {
  color: rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.03);
  /* background-color: rgb(255 255 255 / 49%); */
  /* border-color: #00000026; */
  /* border-width: 0px 1px 1px 1px; */
  /* border-style: solid; */
  margin-top:0em;
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* max-width: 95%; */
  padding-left: 1.2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  overflow: auto;
  box-shadow: inset 0px 2px 5px #d9d9d9;
}

.note-thumb {
  position: relative;
  max-height: 15rem;
  overflow: hidden;
}
/*.note-thumb-transition {
  transition: transform .2s ease-out;
}
.note-thumb-transition:hover {
  transform: translate(0, 0px) scale(0.98);
}*/

/*.moon {
    z-index: -1;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    box-shadow: inset 0px 0px #fff, inset -17px 4px 29px -13px rgba(254, 255, 255, 0.35);
    position: absolute;
    right: 16px;
    top: 16px;
}*/

kbd {
    display: inline-block;
    padding: 3px 5px;
    line-height: 1rem;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.shadow-4 {
    box-shadow: 0px 0px 120px 0 rgba(0, 0, 0, 0.02);
}
/*.lh-copy {*/
/*.lh-copy, p {
    line-height: 1.5;
    font-size: 1.2rem;
}*/

.br-02 {
  border-radius: 2%;
}

blockquote p {
  border-left: 4px solid #e4effe;
  border-bottom: 5px solid #e4effe;
  /* border-top: 1px solid #e4effe; */
  /* border-right: 4px solid #e4effe; */
  border-radius: 6px;
  padding: 0.5em;
  background: #f1f7ff;
  margin-left: -1em;
}

.code, code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.bg-sky {
  background-color: #1d81ff1c;
  /* background-image: linear-gradient(to top, #fff, #f5f7fa); */
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.bg-near-white {
  background-color: #fdfdfd;
}

.helvetica {
  /* font-family: 'Noto Sans JP', 'Fira Sans', 'Open Sans', arial, sans-serif; */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-display: swap;
}

.table {
  margin-top: 1rem;
}

.table > tr:nth-child(odd) {
  background-color: #fdfdfd;
}

/* https://gist.github.com/brennowilliam/75f5f910e5ba8fc64279 */
table a:link {
  text-decoration: none;
}
table a:visited {
  text-decoration:none;
}
table a:active,
table a:hover {
	text-decoration:underline;
}
table {
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
	border-radius:3px;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:10px 25px 12px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:10px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:10px;
}
table td:first-child {
	text-align: left;
	padding-left:10px;
	border-left: 0;
}
table td {
	padding:10px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

