// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: $large-breakpoint;
  margin-left:  auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer {
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

