// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  font-weight:      400;
  font-size:        1.25rem;
  padding-top:      3.5rem;
  padding-bottom:   6.5rem;
  padding-left:     1rem;
  padding-right:    1rem;
  margin-bottom:    1rem;
  margin-left:      auto;
  margin-right:     auto;
  max-width:        $large-breakpoint;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;
  text-align: center;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    opacity: .5;
  }

  // Wide screen settings.
  @media (min-width: $large-breakpoint) {
    float: left;
    text-align: left;
  }
}

.masthead-nav {
  padding-top: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;
  text-align: center;

  a {
    color: inherit;
  }

  // Wide screen settings.
  @media (min-width: $large-breakpoint) {
    float: right;
    padding-top: 0;
    text-align: left;
  }

  .nav-link {
    margin: auto;
    padding-left:  0.5rem;
    padding-right: 0.5rem;
  }
}
