{{ partial "header.html" . }}

<main class="content" role="main">

  <div class="bg-white br2 black-80 pa5-l pa4-m pa2 mw8 center br3">

    <h1 class="f2 mt0">Notes by date</h1>

    <div class="lh-copy">

      {{ range (.Site.RegularPages.GroupByDate "2006") }}
      {{ $pages := (where (where .Pages "Type" "notes") "Title" "!=" "") }}
      {{ if (len $pages) }}
        <h2>{{ .Key }}</h2>
        <ul>
          {{ range $pages }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> </li>
          {{ end }}
        {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>

</main>

{{ partial "footer.html" . }}

