
<main class="pb3">

  <article class="bg-white br2 black-80 pa5-l pa4-m pa4 mw8 center br3">
    <!--<article class="shadow-4 bg-white pa5-l pa4-m pa2 mw8 center br3">-->

    <div class="cf lh-copy">

      <div class="fl w-100 w-40-l tc pa3">
          <img src="{{ print "images/" .Site.Params.logo.url | relURL }}"
          class="br-02 w5 dib shadow-4"
          alt="{{ .Site.Params.logo.alt }}">
      </div>
      <div class="fl w-100 w-60-l pl5-l">
        <h1 class="mt0">Welcome, I'm Kamil.</h3>
        <p>
          As a computational biologist, my research includes
          analysis of functional genomics data such as RNA-seq.

          I am interested to understand how cells regulate different
          functions in the context of disease and drug response.

          I also build software tools for statistical tests and data
          visualization, mostly with R and Javascript.
        </p>
        <p>
          I completed my PhD training with <a href="{{ $.Site.Params.urls.soumya }}">Dr. Soumya Raychaudhuri</a> at Harvard University in collaboration with <a href="{{ $.Site.Params.urls.brenner }}">Dr. Michael B. Brenner</a> at Brigham and Women's Hospital.
        </p>
        <p>
        Feel free to <a target="_blank" href="/{{ .Site.Params.cv }}" title="CV">download my CV</a> and <a target="_blank" href="mailto:kslowikowski@gmail.com" title="Email">email me</a>.
        </p>
      </div>

    </div>
  </article>

</main>

