
<main class="pb3">

  <article class="black-80 pa5-l pa3 mw8 center bg-white br3">
    <!--<article class="shadow-4 bg-white pa5-l pa4-m pa2 mw8 center br3">-->

    <div class="cf lh-copy">

      <div class="center fl-l fl-m w-50 w-40-m w-40-l pa3">
          <img style="aspect-ratio: 1/1;" src="{{ print "images/" .Site.Params.logo.url | relURL }}"
          class="br-02 w5 dib shadow-4"
          alt="{{ .Site.Params.logo.alt }}">
      </div>
  <!-- <article class="black-80 pa5-l pa4-m pa2 mw8 center bg-white br3"> -->
      <div class="fl w-100 w-60-l w-60-m pl5-l">
        <p>

        Kamil Slowikowski is a computational biologist in
        the <a href="https://www.massgeneral.org/medicine/ciid">Center for Immunology and Inflammatory Diseases</a> at Massachusetts
        General Hospital, working as a postdoc under the mentorship of <a href="https://villani.mgh.harvard.edu/">Dr. Alexandra-Chloé Villani</a>.
        </p>

        <p>
        He completed a PhD in Bioinformatics and Integrative
        Genomics at Harvard under the mentorship of <a href="{{ $.Site.Params.urls.soumya }}">Dr. Soumya Raychaudhuri</a> at
        the Department of Biomedical Informatics and in close collaboration
        with <a href="{{ $.Site.Params.urls.brenner }}">Dr. Michael B. Brenner</a> at the Brigham and Women's Hospital.
        </p>

        <p>
        Kamil develops open-source computational software packages for single
        cell RNA-seq data and genetics data. He also makes interactive web apps
        to help researchers interpret RNA-seq data.
        </p>
        <p>
        &#127891; <a rel="noopener" target="_blank" href="/{{ .Site.Params.cv }}" title="CV">Download CV</a>
        </p>
        <p>
        &#128236; <a rel="noopener" target="_blank" href="mailto:kslowikowski@gmail.com" title="Email">Email</a>
        </p>
      </div>

    </div>
  </article>

</main>

