---
layout: default
---

<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <div style="display:block;">

  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>

  {% if page.tags %}
  <span class="post-tags">
  Tags:
  {% assign sorted_tags = page.tags | sort %}
  {% for tag in sorted_tags %}{% if forloop.index0 > 0 %},{% endif %} <a href="/tags/#{{ tag | slugify }}">{{ tag }}</a>{% endfor %}
  </span>
  {% endif %}

  </div>

  {{ content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
